<%= form_for([@supplier, @part]) do |f| %>
  <%= f.error_messages :class =>  "error_explanation",  :id => "error_explanation" %>
  <div class="field">
    <%= f.label :part_number %><br />
    <%= f.number_field :part_number %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<!--  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>-->
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :dimensions %><br />
    <%= f.text_field :dimensions %>
  </div>
<!--  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= f.number_field :supplier_id %>
  </div>-->
  <%= f.hidden_field :supplier_id, :value => @supplier.id %>
  <div class="field">
    <%= f.label :delivery_date %><br />
    <%= f.date_select :delivery_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
