<tr>
	<td><%= part.part_number %></td>
	<td><%= part.name %></td>
	<td><%= if part.product then part.product.name else t('none') end %></td>
	<td><%= part.weight %></td>
	<td><%= part.dimensions %></td>
<!-- 	<td><%= if part.supplier then part.supplier.name else t('none') end %></td> -->
	<td><%= l part.delivery_date %></td>
	<td><%= link_to t('links.show'), supplier_part_path(part.supplier_id, part) %></td>
	<td><%= link_to t('links.edit'), edit_supplier_part_path(part.supplier_id, part) %></td>
	<td><%= link_to t('links.delete'), supplier_part_path(part.supplier_id, part), confirm: t( 'actions.confirm'), method: :delete %></td>
</tr>
