<h1>Listing parts for supplier <%= @supplier.name %></h1>

<% if @parts.empty? %>
<p>None</p>
<% else %>
<table>
  <tr>
    <th>Part number</th>
    <th>Name</th>
    <th>Product</th>
    <th>Weight</th>
    <th>Dimensions</th>
    <th>Supplier</th>
    <th>Delivery date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parts.each do |part| %>
  <tr>
    <td><%= part.part_number %></td>
    <td><%= part.name %></td>
	<td><%= if part.product then part.product.name else 'None' end %></td>
	<td><%= part.weight %></td>
	<td><%= part.dimensions %></td>
	<td><%= if part.supplier then part.supplier.name else 'None' end %></td>
    <td><%= part.delivery_date.strftime("%d.%m.%Y") %></td>
    <td><%= link_to 'Show', supplier_part_path(part.supplier_id, part.id) %></td>
    <td><%= link_to 'Edit', edit_supplier_part_path(part.supplier_id, part.id) %></td>
    <td><%= link_to 'Destroy', supplier_part_path(part.supplier_id, part.id), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Part', new_supplier_part_path(@supplier.id) %>
