<p id="notice"><%= notice %></p>

<p>
  <b>Part number:</b>
  <%= @part.part_number %>
</p>

<p>
  <b>Name:</b>
  <%= @part.name %>
</p>

<p>
  <b>Product:</b>
  <%= if @part.product then @part.product.name else 'None' end %>
</p>

<p>
  <b>Weight:</b>
  <%= @part.weight %>
</p>

<p>
  <b>Dimensions:</b>
  <%= @part.dimensions %>
</p>

<p>
  <b>Supplier:</b>
  <%= if @part.supplier then @part.supplier.name else 'None' end %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @part.delivery_date %>
</p>


<%= link_to 'Edit', edit_supplier_part_path(@part.supplier_id, @part.id) %> |
<%= link_to 'Back', :back %> <!-- supplier_path(@part.supplier_id) -->