<%= form_for(@factory) do |f| %>
  <% if @factory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factory.errors.count, "error") %> prohibited this factory from being saved:</h2>

      <ul>
      <% @factory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :factory_id %><br />
    <%= f.number_field :factory_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :ceo_name %><br />
    <%= f.text_field :ceo_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
