<%= form_for(@factory) do |f| %>
  <%= f.error_messages :class =>  "error_explanation",  :id => "error_explanation" %>
  <div class="field">
    <%= f.label :factory_num %><br />
    <%= f.number_field :factory_num %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :ceo_name %><br />
    <%= f.text_field :ceo_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
