<h1><%= t('actions.factory.index') %></h1>

<% if @factories.empty? %>
<p><%= t('empty')%></p>
<% else %>

<table>
  <tr>
    <th><%= t('activerecord.attributes.factory.factory_num') %></th>
    <th><%= t('activerecord.attributes.factory.name') %></th>
    <th><%= t('activerecord.attributes.factory.address') %></th>
    <th><%= t('activerecord.attributes.factory.ceo_name') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @factories.each do |factory| %>
  <tr>
    <td><%= factory.factory_num %></td>
    <td><%= factory.name %></td>
    <td><%= factory.address %></td>
    <td><%= factory.ceo_name %></td>
    <td><%= link_to t('links.show'), factory %></td>
    <td><%= link_to t('links.edit'), edit_factory_path(factory) %></td>
    <td><%= link_to t('links.delete'), factory, confirm: t('actions.confirm'), method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to t('actions.factory.new'), new_factory_path %>
