<tr>
	<td><%= department.name %></td>
	<td><%= department.chief_name %></td>
	<td><%= link_to t('links.show'), factory_department_path(department.factory_id, department)%></td>
	<td><%= link_to t('links.edit'), edit_factory_department_path(department.factory_id, department) %></td>
	<td><%= link_to t('links.delete'), factory_department_path(department.factory_id, department), confirm: t( 'actions.confirm'), method: :delete %></td>
</tr>