<%= form_for([@factory, @department]) do |f| %>
  <%= f.error_messages :class =>  "error_explanation",  :id => "error_explanation" %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :factory_id, :value => @factory.id %>
<!--  <div class="field">
    <%= f.label :factory_id %><br />
    <%= f.number_field :factory_id %>
  </div>-->
  <div class="field">
    <%= f.label :chief_name %><br />
    <%= f.text_field :chief_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
