<h1><%= t('actions.department.index', :item => @factory.name ) %></h1>
<% if @departments.empty? %>
<p><%= t('empty')%></p>
<% else %>
<table>
	<tr>
		<th><%= t('activerecord.attributes.department.name') %></th>
		<th><%= t('activerecord.attributes.department.factory_id') %></th>
		<th><%= t('activerecord.attributes.department.chief_name') %></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @departments.each do |department| %>
	<tr>
		<td><%= department.name %></td>
		<td><%= @factory.name %></td>
		<td><%= department.chief_name %></td>
		<td><%= link_to t('links.show'), factory_department_path(department.factory_id, department) %></td>
		<td><%= link_to t('links.edit'), edit_factory_department_path(department.factory_id, department) %></td>
		<td><%= link_to t('links.delete'), factory_department_path(department.factory_id, department), confirm: t('actions.confirm'), method: :delete %></td>
	</tr>
	<% end %>
</table>
<% end %>
<br />

<%= link_to t('actions.department.new', :item => ''), new_factory_department_path(@factory.id) %>
