<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.attributes.department.name') %>:</b>
  <%= @department.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.department.factory_id') %>:</b>
  <%= @factory.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.department.chief_name') %>:</b>
  <%= @department.chief_name %>
</p>


<%= link_to t('links.edit'), edit_factory_department_path(@department.factory_id, @department) %> |
<%= link_to t('links.back'), factory_path(@department.factory_id)  %>
