<h1><%= t('actions.product.add_part', :item => @product.name) %></h1>

<%= form_for(@product, :url => { :action => "assign_part" }) do |f| %>
  <%= f.error_messages :class =>  "error_explanation",  :id => "error_explanation" %>
  <div class="field">
    <%= f.label :parts %><br />
	<%= f.collection_select( :parts, Part.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to t('links.show'), @product %> |
<%= link_to t('links.back'), products_path %>
