<h1>Listing products</h1>

<% if @products.empty? %>
<p>None</p>
<% else %>
<table>
  <tr>
    <th>Factory</th>
    <th>Department</th>
    <th>Name</th>
    <th>Weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= if product.department && product.department.factory then product.department.factory.name else '#error' end%></td>
    <td><%= if product.department then product.department.name else '#error' end %></td>
    <td><%= product.name %></td>
    <td><%= product.weight %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Product', new_product_path %>
