<h1><%= t('actions.product.index') %></h1>

<% if @products.empty? %>
<p>None</p>
<% else %>
<table>
  <tr>
    <th><%= t('activerecord.attributes.department.factory_id') %></th>
    <th><%= t('activerecord.attributes.product.department_id') %></th>
    <th><%= t('activerecord.attributes.product.name') %></th>
    <th><%= t('activerecord.attributes.product.weight') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= if product.department && product.department.factory then product.department.factory.name else '#error' end%></td>
    <td><%= if product.department then product.department.name else '#error' end %></td>
    <td><%= product.name %></td>
    <td><%= product.weight %></td>
    <td><%= link_to t('links.show'), product %></td>
    <td><%= link_to t('links.edit'), edit_product_path(product) %></td>
    <td><%= link_to t('links.delete'), product, confirm: t('actions.confirm'), method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to t('actions.product.new'), new_product_path %>
