<h1><%= t('actions.supplier.index') %></h1>


<% if @suppliers.empty? %>
<p>None</p>
<% else %>
<table>
  <tr>
    <th><%= t('activerecord.attributes.supplier.supplier_number') %></th>
    <th><%= t('activerecord.attributes.supplier.name') %></th>
    <th><%= t('activerecord.attributes.supplier.region') %></th>
    <th><%= t('activerecord.attributes.supplier.address') %></th>
    <th><%= t('activerecord.attributes.supplier.ceo_name') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.supplier_number %></td>
    <td><%= supplier.name %></td>
    <td><%= supplier.region %></td>
    <td><%= supplier.address %></td>
    <td><%= supplier.ceo_name %></td>
    <td><%= link_to t('links.show'), supplier %></td>
    <td><%= link_to t('links.edit'), edit_supplier_path(supplier) %></td>
    <td><%= link_to t('links.delete'), supplier, confirm: t('actions.confirm'), method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to t('actions.supplier.new'), new_supplier_path %>
