<h1>Listing suppliers</h1>


<% if @suppliers.empty? %>
<p>None</p>
<% else %>
<table>
  <tr>
    <th>Supplier number</th>
    <th>Name</th>
    <th>Region</th>
    <th>Address</th>
    <th>Ceo name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.supplier_number %></td>
    <td><%= supplier.name %></td>
    <td><%= supplier.region %></td>
    <td><%= supplier.address %></td>
    <td><%= supplier.ceo_name %></td>
    <td><%= link_to 'Show', supplier %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', supplier, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Supplier', new_supplier_path %>
