<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.attributes.supplier.supplier_number') %>:</b>
  <%= @supplier.supplier_number %>
</p>

<p>
  <b><%= t('activerecord.attributes.supplier.name') %>:</b>
  <%= @supplier.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.supplier.region') %>:</b>
  <%= @supplier.region %>
</p>

<p>
  <b><%= t('activerecord.attributes.supplier.address') %>:</b>
  <%= @supplier.address %>
</p>

<p>
  <b><%= t('activerecord.attributes.supplier.ceo_name') %>:</b>
  <%= @supplier.ceo_name %>
</p>

<b><%= t('activerecord.attributes.product.parts') %>:</b>
<%= @supplier.parts.count %>
<% unless @supplier.parts.empty? %>
	<table summary="Supplier parts">
		<tr>
			<th><%= t('activerecord.attributes.part.part_number') %></th>
			<th><%= t('activerecord.attributes.part.name') %></th>
			<th><%= t('activerecord.attributes.part.product_id') %></th>
			<th><%= t('activerecord.attributes.part.weight') %></th>
			<th><%= t('activerecord.attributes.part.dimensions') %></th>
<!-- 		    <th><%= t('activerecord.attributes.part.supplier_id') %></th> -->
			<th><%= t('activerecord.attributes.part.delivery_date') %></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<%= render @parts %>
	</table>
	<%= will_paginate @parts %>
<% end%>
<%= link_to t('actions.part.new', :item => ''), new_supplier_part_path(@supplier.id) %>
</p>


<%= link_to t('links.edit'), edit_supplier_path(@supplier) %> |
<%= link_to t('links.back'), suppliers_path %>
