<h1><%= t('actions.report.parts.title')%></h1>

<h2><%= t('actions.report.parts.assiged_parts')%></h2>
<% if @parts.empty? %>
<p>None</p>
<% else %>
<table>
  <tr>
    <th><%= t('activerecord.attributes.part.part_number') %></th>
    <th><%= t('activerecord.attributes.part.name') %></th>
    <th><%= t('activerecord.attributes.part.product_id') %></th>
    <th><%= t('activerecord.attributes.part.weight') %></th>
    <th><%= t('activerecord.attributes.part.dimensions') %></th>
    <th><%= t('activerecord.attributes.part.supplier_id') %></th>
    <th><%= t('activerecord.attributes.part.delivery_date') %></th>
  </tr>

<% @parts.each do |part| %>
  <tr>
    <td><%= part.part_number %></td>
    <td><%= part.name %></td>
    <td><%= if part.product then part.product.name else 'error' end %></td>
    <td><%= part.weight %></td>
    <td><%= part.dimensions %></td>
    <td><%= if part.supplier then part.supplier.name else 'error' end %></td>
    <td><%= I18n.l part.delivery_date %></td>
  </tr>
<% end %>
</table>
<% end %>
<h2><%= t('actions.report.parts.free_parts')%></h2>
<% if @parts_free.empty? %>
<p>None</p>
<% else %>
<table>
  <tr>
    <th><%= t('activerecord.attributes.part.part_number') %></th>
    <th><%= t('activerecord.attributes.part.name') %></th>
    <th><%= t('activerecord.attributes.part.weight') %></th>
    <th><%= t('activerecord.attributes.part.dimensions') %></th>
    <th><%= t('activerecord.attributes.part.supplier_id') %></th>
    <th><%= t('activerecord.attributes.part.delivery_date') %></th>
  </tr>

<% @parts_free.each do |part| %>
  <tr>
    <td><%= part.part_number %></td>
    <td><%= part.name %></td>
    <td><%= part.weight %></td>
    <td><%= part.dimensions %></td>
    <td><%= if part.supplier then part.supplier.name else 'error' end %></td>
    <td><%= I18n.l part.delivery_date %></td>
  </tr>
<% end %>
</table>
<% end %>