<h1>Report: All parts</h1>

<h2>Parts used in products</h2>
<% if @parts.empty? %>
<p>None</p>
<% else %>
<table>
  <tr>
    <th>Part number</th>
    <th>Name</th>
    <th>Product</th>
    <th>Weight</th>
    <th>Dimensions</th>
    <th>Supplier</th>
    <th>Delivery date</th>
  </tr>

<% @parts.each do |part| %>
  <tr>
    <td><%= part.part_number %></td>
    <td><%= part.name %></td>
    <td><%= if part.product then part.product.name else 'error' end %></td>
    <td><%= part.weight %></td>
    <td><%= part.dimensions %></td>
    <td><%= if part.supplier then part.supplier.name else 'error' end %></td>
    <td><%= part.delivery_date %></td>
  </tr>
<% end %>
</table>
<% end %>
<h2>Parts not assigned to any products</h2>
<% if @parts_free.empty? %>
<p>None</p>
<% else %>
<table>
  <tr>
    <th>Part number</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Dimensions</th>
    <th>Supplier</th>
    <th>Delivery date</th>
  </tr>

<% @parts_free.each do |part| %>
  <tr>
    <td><%= part.part_number %></td>
    <td><%= part.name %></td>
    <td><%= part.weight %></td>
    <td><%= part.dimensions %></td>
    <td><%= if part.supplier then part.supplier.name else 'error' end %></td>
    <td><%= part.delivery_date %></td>
  </tr>
<% end %>
</table>
<% end %>