<header>
<!-- 			<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %> -->
	<div class="round logo">
		<a href="<%= root_path%>">
			<h1 style="margin: 0; color: #FFF">Zavod</h1>
			<h2 style="margin: 0; color: #FFF">Test App</h2>
		</a>
	</div>
	<nav class="round">
		<ul>
			<li>
				<%= link_to t('links.nav.edit'), '#' %>
				<ul>
					<li><%= link_to t('links.nav.factories'), factories_path %></li>
					<li><%= link_to t('links.nav.products'), products_path %></li>
					<li><%= link_to t('links.nav.suppliers'), suppliers_path %></li>
				</ul>
			</li>
			<li>
				<%= link_to t('links.nav.reports'), '#' %>
				<ul>
					<li><%= link_to t('links.nav.parts'), reports_parts_path %></li>
<!-- 					<li><%= link_to "Deliveries", reports_deliveries_path %></li> -->
				</ul>
			</li>
		</ul>
	</nav>
</header>
